<div>
    <h1 class="price">
        Price Range
        <br />
        <text class="prices">$@SelectMinPrice - $@SelectMaxPrice</text>
    </h1>
</div>

<div class="column-txt" id="min-text">
    <text>
        Min Price:
        <br />
        <input type="number" @bind="minPrice" />
    </text>
</div>
<div class="column-slider" id="min-slider">
    <input type="range" id="slider-input-left" style=@minWidth min="0" max=@minLimit @bind="minPrice" @bind:event="oninput" @onfocus="ChangeinMin" @onchange="ChangeMin" step="10000">
</div>
<div class="column-txt" id="max-text">
    <text>
        Max Price:
        <br />
        <input type="number" @bind="maxPrice" />

    </text>
</div>


<div class="column-txt" id="min-text" style="height:12px;">
    <text>
    </text>
</div>
<div class="column-slider" id="max-slider" style="height:12px;">
    <input type="range" id="slider-input-right" style=@maxWidth min=@maxLimit max="2000000" @bind="maxPrice" @bind:event="oninput" @onfocus="ChangeinMax" @onchange="ChangeMax" step="10000">
</div>
<div class="column-txt" id="max-text" style="height:12px;">
    <text>
    </text>
</div>


@if (minTop == 1) { 
    <div class="column-txt" id="min-text" style="height:12px;">
        <text>
        </text>
    </div>
    <div class="column-slider" id="min-slider" style="height:12px;top: -82px;">
        <input type="range" id="slider-input-left" style=@minWidth min="0" max=@minLimit @bind="minPrice" @bind:event="oninput" @onfocus="ChangeinMin" @onchange="ChangeMin" step="10000">
    </div>
    <div class="column-txt" id="max-text" style="height:12px;">
        <text>
        </text>
    </div>

}
@if (minTop == 0)
{
<div class="column-txt" id="min-text" style="height:12px;">
    <text>
    </text>
</div>
<div class="column-slider" id="min-slider" style="height:12px;top: -82px;">
    </div>
<div class="column-txt" id="max-text" style="height:12px;">
    <text>
    </text>
</div>
}


<div class="column-prices" style="width: 7%;">
    <text>

    </text>
</div>
<div class="column-prices" style="width: 17.2%">
    <text>
        $0
    </text>
</div>
<div class="column-prices" style="width: 17.2%">
    <text>
        $500,000
    </text>
</div>
<div class="column-prices" style="width: 17.2%">
    <text>

        $1,000,000
    </text>
</div>
<div class="column-prices" style="width: 17.2%">
    <text>

        $1,500,000
    </text>
</div>
<div class="column-prices" style="width: 17.2%">
    <text>

        $2,000,000
    </text>
</div>
<div class="column-prices" style="width: 7%">
    <text>

    </text>
</div>









@code {
    string minPrice = "0";
    string maxPrice= "2000000";


    string minLimit = "1950000";
    string minWidth = "width: 97.5%;";


    string maxLimit = "50000";
    string maxWidth = "width: 97.5%;";

    int minTop = 1;
    double temp;


    void ChangeMin()
    {
        maxLimit = (Int64.Parse(minPrice)+50000).ToString();
        temp = (100.00 - (((double)(Int64.Parse(maxLimit)) / 2000000.00) * 100.00));
        maxWidth = "width: " + temp.ToString() + "%;";


    }


    void ChangeMax()
    {

        minTop = 1;
        minLimit = (Int64.Parse(maxPrice) - 50000).ToString();
        temp = ((((double)(Int64.Parse(minLimit)) / 2000000.00) * 100.00));
        minWidth = "width: " + temp.ToString() + "%;";


    }


    async Task ChangeinMin()
    {
        minTop = 1;
    }

    async Task ChangeinMax()
    {
        minTop = 0;
    }


    string SelectMinPrice
    {
        get => String.Format("{0:n0}", Int64.Parse(minPrice));
        set { minPrice = value;}
    }

    string SelectMaxPrice
    {
        get => String.Format("{0:n0}", Int64.Parse(maxPrice));
        set { maxPrice = value; }
    }

}

