@page "/"

<PageTitle>Index</PageTitle>

<h1 class = "page-title">YYC REAL ESTATES</h1>


<Filter/>

<div class="line" >
    <hr />
</div>
<br />
<h3 class="full-column" id="discovery-title">Do you need help looking for a house?</h3>
<div class="btn-column">
    <NavLink href="discover">
        <button type="button">Click Here!</button>
    </NavLink>
</div>

<div class="line">
    <hr />
</div>

