@page "/preview"

<PageTitle>Preview</PageTitle>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<hr />

<h1 class="simHead">Top Three most similar listings</h1>

<div>

    <div class="Hcolumn">
    </div>

    <div class="column">
        <img src="./1.png" class="images" />
        <figcaption class="beds">
            <i class="fa fa-bed" style="font-size:24px"></i>
        </figcaption>
        <figcaption class="baths">
            <i class="fa fa-bath" style="font-size:24px"></i>
        </figcaption>
        <figcaption class="feet">
            <i class="fas fa-ruler" style="font-size:24px"></i>
        </figcaption>
        <figcaption class="location">
            <i class="fa fa-map-marker" style="font-size:24px"></i>
        </figcaption>
        <figcaption class="price">
            <i class="fas fa-dollar-sign" style="font-size:24px"></i>
        </figcaption>
    </div>


    <div class="column">
        <img src="./2.png" class="images" />
        <figcaption class="beds">
            <i class="fa fa-bed" style="font-size:24px"></i>
        </figcaption>
        <figcaption class="baths">
            <i class="fa fa-bath" style="font-size:24px"></i>
        </figcaption>
        <figcaption class="feet">
            <i class="fas fa-ruler" style="font-size:24px"></i>
        </figcaption>
        <figcaption class="location">
            <i class="fa fa-map-marker" style="font-size:24px"></i>
        </figcaption>
        <figcaption class="price">
            <i class="fas fa-dollar-sign" style="font-size:24px"></i>
        </figcaption>
    </div>


    <div class="column">
        <img src="./3.png" class="images" />
        <figcaption class="beds">
            <i class="fa fa-bed" style="font-size:24px"></i>
        </figcaption>
        <figcaption class="baths">
            <i class="fa fa-bath" style="font-size:24px"></i>
        </figcaption>
        <figcaption class="feet">
            <i class="fas fa-ruler" style="font-size:24px"></i>
        </figcaption>
        <figcaption class="location">
            <i class="fa fa-map-marker" style="font-size:24px"></i>
        </figcaption>
        <figcaption class="price">
            <i class="fas fa-dollar-sign" style="font-size:24px"></i>
        </figcaption>
    </div>


    <div class="Hcolumn">
    </div>
    
</div>



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
